body, html { margin: 0; padding: 0; width: 100%; height: 100%; background: #ffffff; overflow: hidden; font-family: sans-serif; }
#escenario-proveed { width: 100%; height: 100%; display: flex; align-items: center; justify-content: center; position: relative; }

.pelota-verde {
    position: absolute; width: 18px; height: 18px; background: #28a745; 
    border-radius: 50%; top: -30px; transition: all 0.6s ease-in;
}

#logo-maestro { text-align: center; z-index: 10; transition: transform 0.4s ease; }
.texto-verde { color: #28a745; font-size: 4.5rem; font-weight: 900; letter-spacing: 10px; margin-top: 15px; }

.hexagono-proveed {
    width: 110px; height: 125px; background: #28a745; margin: 0 auto;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex; align-items: center; justify-content: center;
}
.check-blanco {
    width: 25px; height: 50px; border: solid white; border-width: 0 8px 8px 0;
    transform: rotate(45deg); margin-bottom: 10px;
}

#login-seccion { margin-top: 30px; animation: aparecer 1s forwards; }
input { display: block; width: 280px; padding: 12px; margin: 10px auto; border: 1px solid #ddd; border-radius: 5px; }
.boton-acceso { width: 300px; padding: 14px; background: #28a745; color: white; border: none; font-weight: bold; cursor: pointer; border-radius: 5px; }

.oculto { opacity: 0; display: none; }
.visible { opacity: 1; display: block; }
.esparcir { transform: translate(var(--mx), var(--my)) scale(0); opacity: 0; transition: 0.8s; }

@keyframes aparecer { from { opacity: 0; } to { opacity: 1; } }
