body, html { 
    margin: 0; padding: 0; width: 100%; height: 100%; 
    background: #ffffff; overflow: hidden; font-family: sans-serif; 
}

#escena { 
    position: relative; width: 100%; height: 100%; 
    display: flex; flex-direction: column; align-items: center; justify-content: center; 
}

/* Pelotitas verdes pequeñas */
.pelotita {
    position: absolute; width: 18px; height: 18px;
    background: #28a745; border-radius: 50%; top: -30px;
    transition: all 0.7s cubic-bezier(0.25, 0.46, 0.45, 0.94);
    z-index: 5;
}

/* Logo PROVEED */
#bloque-maestro { 
    text-align: center; z-index: 20; position: absolute;
    transition: all 0.5s ease-in-out; 
}

.hexagono {
    width: 90px; height: 105px; background: #28a745;
    clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
    display: flex; align-items: center; justify-content: center; margin: 0 auto;
}

.check {
    width: 20px; height: 45px; border: solid white;
    border-width: 0 7px 7px 0; transform: rotate(45deg); margin-bottom: 8px;
}

.nombre-empresa {
    color: #28a745; font-size: 2.8rem; letter-spacing: 5px;
    font-weight: 900; margin: 15px 0; text-transform: uppercase;
}

/* Formulario de Login */
input { display: block; width: 280px; padding: 12px; margin: 10px auto; border: 1px solid #ddd; border-radius: 8px; }
.btn-verde { width: 280px; padding: 14px; background: #28a745; color: white; border: none; border-radius: 8px; font-weight: bold; cursor: pointer; }

/* Clases de animación */
.oculto { opacity: 0; display: none; }
.visible { opacity: 1; display: block; }
.esparcir { transform: translate(var(--x), var(--y)) scale(0); opacity: 0; transition: 1s forwards; }
